*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(80, 78, 78, 0.555),rgba(0, 0, 0, 0.685)),url(back.jpg);
    background-size: cover;
    background-position: center;

}
.nav{
   width: 100%;
   padding: 21px 0;
   top: 0;
   left: 0; 
   position: fixed;
   display: flex;
   justify-content: Space-between;
   align-items: center;
   z-index: 100;
   margin-bottom: 21px;
   border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.container .nav .logo a {
    color: aliceblue;
    text-decoration:none ;
    font-size:25px;
    font-weight: 700;
    vertical-align: middle;
    margin-left: 19px;
    margin-right: -2px;
    content: "";
}
.container .nav .list ul li{
    display: flex;
    justify-content: Space-between;
    align-items: center;
    display: inline-block;
}
.container .nav  .list ul li a{
    color: aliceblue;
    font-size:  .75rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 7px;
    margin: 0 10px;
    transition: .1s;
}

.container .nav  .list ul li a:hover{
     color: rgba(255,255,255,.6);
     padding-bottom: 35px;
     border-bottom: 1px solid  aliceblue;
}
.body{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 310px 8% 0;

}
.body .par{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.body .par h2{
    display: block;

    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 1.3;
    font-size: 4rem;
 
    color: aliceblue;
    margin-bottom: 8px;
    letter-spacing: .03125rem;
    font-weight: 500;
}
.body .par p{
    line-height: 1.8;
    color: aliceblue;
    width: 60%;
    margin-bottom: 30px;
    font-size: 15px;
    letter-spacing: .03125rem;
    font-weight: 600;
}
.body .button{
    display: flex;
    align-items: center;
    margin: auto;
    width:21%;
    justify-content: Space-between;
    flex-direction: row;
}
.body .button a{
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    vertical-align: middle;
    font-size: .75rem;
    letter-spacing: .1125rem;
}
.body .button .button1{
    background-color:#505cfd;
    padding: 21px 30px 21px 30px;
    border-radius: 30px;
    transition: .1s;
    
}
.body .button .button1:hover{
    background-color:#0a19e9d0;

}
.body .button .button2{
    padding: 19px 30px 19px 30px;
    border-radius: 30px;
    border:  aliceblue;
    outline:solid 2px ;
    transition: .1s;
 
}
.body .button .button2:hover{
    background-color:aliceblue;
    color:#222 ;
    font-weight: 600;
    outline:solid 2px transparent;
}

.container2 {
    width: 100%;
    min-height: 110vh;
}
.word {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 130px 8% 0;
    align-items: center;

}
.word h2{
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 1.3;
    font-size: 45px;
    color: rgba(7, 7, 7, 0.979);
    margin-bottom: 8px;
    letter-spacing: .03125rem;
    font-weight: 40;
}
.word p {
    line-height: 1.8;
    color: rgba(31, 35, 39, 0.589);
    width: 60%;
    margin-bottom: 30px;
    font-size: 17px;
    letter-spacing: .01875rem;
    font-weight: 400;
    margin-top: 0;
}
.img {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.end{
    justify-content: Space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.end .part1{
    display:column;
    align-items: center;
    margin-right: 30px;
 
}
.end .part1 h3{
    margin: 0 0 15px;
    font-size: 15px;
    line-height: 1.3;
    color: rgba(15, 15, 15, 0.842);
}
.end .part1 p{
    line-height: 1.8;
    font-weight: 400;
    font-size:15;
    color: #767b7cd8;
    margin-bottom: 20px;
}
.end .part1 a{
    color: #505cfd;
    text-decoration: none;
    background-color: transparent;
    text-align: center ;
  margin-bottom: 20px;
  font-size: 15px;
}
.end .part2{
    display:column;
    align-items: center; 
    margin-right: 40px;
    margin-left: 40px;
}
.end .part2 h3{
    margin: 0 0 15px;
    font-size: 15px;
    line-height: 1.3;
    color: rgba(14, 13, 13, 0.829);
}
.end .part2 p{
    line-height: 1.8;
    font-weight: 400;
    font-size:15;
    color: #677072dc;
    margin-bottom: 20px;
    font-size: 15px;
}
.end .part2 a{
    color: #505cfd;
    text-decoration: none;
    background-color: transparent;
    text-align: center ;
  margin-bottom: 20px;
  font-size: 15px;
}
.end .part3{
    display:column;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
}
.end .part3 h3{
    margin: 0 0 15px;
    font-size: 15px;
    line-height: 1.3;
    color: rgba(10, 10, 10, 0.87);
}
.end .part3 p{
    line-height: 1.8;
    font-weight: 400;
    font-size:15;
    color: #656d6ed3;
    margin-bottom: 20px;
    font-size: 15px;
}
.end .part3 a{
    color: #505cfd;
    text-decoration: none;
    background-color: transparent;
    text-align: center ;
  margin-bottom: 20px;
  font-size: 15px;
}
.end .part4{
    display:column;
    align-items: center;
    margin-left: 30px;
 
}
.end .part4 h3{
    margin: 0 0 15px;
    font-size: 15px;
    line-height: 1.3;
    color: rgba(15, 15, 15, 0.836);
}
.end .part4 p{
    line-height: 1.8;
    font-weight: 400;
    font-size:15;
    color: #707779e5;
    margin-bottom: 20px;
    font-size: 15px;
}
.end .part4 a{
    color: #505cfd;
    font-size: 15px;
    text-decoration: none;
    background-color: transparent;
    text-align: center ;
    margin-bottom: 20px;
}
.container3{
    width: 100%;
    min-height: 110vh;
}
.container3 .word2{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 130px 8% 0;
    align-items: center;
    z-index: 100;
    margin-top: 30px;
    border-top: 1px solid rgba(61, 57, 57, 0.137);
}
.container3 .word2 h2{
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 1.3;
    font-size: 45px;
    color: rgba(7, 7, 7, 0.979);
    margin-bottom: 8px;
    letter-spacing: .03125rem;
    font-weight: 40;
}
.word2 p {
    line-height: 1.8;
    color: rgba(31, 35, 39, 0.589);
    width: 60%;
    margin-bottom: 30px;
    font-size: 17px;
    letter-spacing: .01875rem;
    font-weight: 400;
    margin-top: 0;
}
.container3 .choi{
   padding: 20px;
    display: flex;
    flex-direction: row;

}
.container3 .choi .all{
    color: rgba(41, 42, 43, 0.774);
    text-decoration: none;
    font-family: serif;
    font-style: italic;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .03125rem;
    text-align: center;
    margin-bottom: 15px;
}
.container3 .choi .bran{
    color: rgba(107, 108, 109, 0.623);
    text-decoration: none;
    font-family: serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .03125rem;
    text-align: center;
    margin-bottom: 15px;
    transition: .3s;
}
.container3 .choi .bran:hover{
    color: rgba(41, 42, 44, 0.774);
}
.container3 .choi .digi{
    color: rgba(110, 111, 112, 0.651);
    text-decoration: none;
    font-family: serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .03125rem;
    text-align: center;
    margin-bottom: 15px;
    transition: .3s;
}
.container3 .choi .digi:hover{
    color: rgba(41, 42, 44, 0.774);
}
.container3 .choi .pack{
    color: rgba(112, 113, 114, 0.644);
    text-decoration: none;
    font-family: serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .03125rem;
    text-align: center;
    margin-bottom: 15px;
    transition: .3s;
}
.container3 .choi .pack:hover{
    color: rgba(41, 42, 44, 0.774);
}
.container3 .choi span{
  margin:0 20px;
  font-style: italic;
  font-size: 18px;
  color: rgba(198, 199, 201, 0.397);
display: flex;
display: inline-block;
}
.photo{
    display: flex;
    flex-direction: column;
}
.photo .line1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.photo .line2{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.photo .line1 img{
    z-index: 3;
    max-block-size: 620px;
    padding: 5px;
}
.photo .line2 img{
    z-index: 3;
    max-block-size: 620px;
    padding: 5px;
}
.container4 {
        width: 100%;
        min-height: 70vh;
        display: flex;
        flex-direction: column;
}
.container4 .line11{
    display: flex;
    flex-direction: row;
    justify-content: Space-between;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 150px;
}
.container4 .line22{
    display: flex;
    flex-direction: row;
    justify-content: Space-between;
    align-items: center;
    justify-content: center;
}
.container4 .line11 h3{
    margin: 0 0 15px;
    font-size: 15px;
    line-height: 1.3;
    color: rgba(10, 10, 10, 0.87);
    margin-right: 20px;
}
.container4 .line11 p{
    line-height: 1.8;
    font-weight: 500;
    font-size:15px;
    color: #767b7cd8;
    margin-bottom: 20px;
    margin-right: 60px;
}
.container4 .line22 h3{
    margin: 0 0 15px;
    font-size: 15px;
    line-height: 1.3;
    color: rgba(10, 10, 10, 0.87);
    margin-right: 20px;
}
.container4 .line22 p{
    line-height: 1.8;
    font-weight: 500;
    font-size:15px;
    color: #767b7cd8;
    margin-bottom: 20px;
    margin-right: 60px;
}
.container5 {
    width: 100%;
    min-height: 110vh;
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-position: center;
    background-color: rgba(236, 237, 238, 0.329);
    justify-content: center;

}
.container5 .ima1{
    margin-top: 95px;
    vertical-align: middle;
    border-style: none;
    margin-right: 110px;
}
.container5 .pa{
    display: flex;
    flex-direction: column;
}
.container5 .word3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 150px 10px 20px 0;
    z-index: 100;
    margin-top: 30px;

}
.container5 .word4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    z-index: 100;
   margin-left: 35px;
}
.word3 h2{
    margin: 0 0 15px;
    font-size: 35px;
    line-height: 1.3;
    color: rgba(10, 10, 10, 0.87);
    margin-right: 20px;
    font-weight: 200;
    
}
.word3 p{
    line-height: 1.8;
    font-weight: 200;
    font-size:15px;
    color: #767b7cd8;
    margin-right: 60px;
    letter-spacing: .03125rem;
}
.word4 h3{
    margin: 40px 10px 15px 0;
    font-size: 15px;
    line-height: 1.3;
    color: rgba(10, 10, 10, 0.87);
    margin-right: 20px;
}
.word4 p {
    line-height: 1.8;
    font-weight: 100;
    font-size:15px;
    color: #767b7cd8;
    margin-bottom: 0px;
    margin-right: 60px;
    letter-spacing: .03125rem;
}
.container6{
    width: 100%;
    min-height: 120vh;
}
.container6 .word5{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 130px 8% 0;
    align-items: center;
    z-index: 100;
    margin-top: 30px;
    
}
.container6 .word5 h2{
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 1.3;
    font-size: 45px;
    color: rgba(7, 7, 7, 0.979);
    margin-bottom: 8px;
    letter-spacing: .03125rem;
    font-weight: 40;
}
.word5 p {
    line-height: 1.8;
    color: rgba(31, 35, 39, 0.589);
    width: 60%;
    margin-bottom: 30px;
    font-size: 17px;
    letter-spacing: .01875rem;
    font-weight: 400;
    margin-top: 0;
}
.container6 .photo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo2 .lline1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.photo2 .lline1 img{
    z-index: 3;
    max-block-size: 400px;
    padding: 20px;
}

.photo2 .lline2{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.photo2 .lline2 img{
    z-index: 3;
    max-block-size: 400px;
    padding: 20px;
}
.bott2{
    padding: 19px 25px 19px 25px;
    border-radius: 30px;
    outline:solid 2px  #505cfd;
    transition: .1s;
    margin: 40px 880px;
    vertical-align: middle; 
    align-items: center;
}
.bott2 a{
    text-align: center ;
    font-size: 11px;
    text-decoration: none;
    font-weight: 780;
    letter-spacing: .1125rem;
    color:  #505cfd;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
display: flex;
}
.bott2 a:hover{
    color: aliceblue;
}
.bott2:hover{
    background-color: #505cfd;
}


